.appHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem var(--padding-app-px);
  position: sticky;
  top: 0;
  z-index: 99;
  height: 4rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logoImg {
  height: 2rem;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.logoImg.logoOnly {
  display: none;
}

.googleIcon {
  font-size: 1.5rem;
}

.userAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.avatarImg {
  height: 2.25rem;
  width: 2.25rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.copyAddressBtn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  letter-spacing: 0.025em;
}

.copyIcon {
  font-size: 1.125rem;
}

.profileDropdownBtn {
  position: relative;
}

.profileDropdown {
  position: absolute;
  min-width: 13rem;
  top: calc(100% + 0.5rem);
  right: 0.75rem;
  -webkit-animation: dropdownShow 0.4s ease;
  animation: dropdownShow 0.4s ease;
}

@-webkit-keyframes dropdownShow {
  from {
    opacity: 0.2;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dropdownShow {
  from {
    opacity: 0.2;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 32em) {
  .logoImg {
    height: 1.75rem;
  }
}

@media screen and (max-width: 26em) {
  .logoImg {
    height: 2.5rem;
  }

  .logoImg.logoOnly {
    display: inline-block;
  }

  .logoImg.withText {
    display: none;
  }
}
